body {}

#christmas {
  height: calc(100vH);
  box-sizing: border-box;
  background-color: #000000;
  background-image: url(../images/christmas.jpg);
  background-size: cover;
}

.layout {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  min-height: calc(100vH);
  background-color: rgba(0,0,0,0.6);
}

.wrapper {
  position: relative;
  background-color: #000000;
  text-align: center;
  margin: 0 auto;
  z-index: 10;
}

.audio_controls_wrapper {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 10;
  width: 90px;
  margin: 0 auto 20px;
}

.controls_button {
  display: inline-block;
  vertical-align: top;
  width: 40px;
  height: 40px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50%;
}

.lamp_wrapper {
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  margin: 1px;
  padding: 3px;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(242, 245, 247, 0.4);
  -moz-box-shadow: 2px 2px 5px 0px rgba(242, 245, 247, 0.4);
  box-shadow: 2px 2px 5px 0px rgba(242, 245, 247, 0.3);
}

.lamp_wrapper div {
  border-radius: 50%;
  box-sizing: border-box;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(242, 245, 247, 0.4);
  -moz-box-shadow: 2px 2px 5px 0px rgba(242, 245, 247, 0.4);
  box-shadow: 2px 2px 5px 0px rgba(242, 245, 247, 0.3);
  background: rgb(78, 75, 75);
  background: radial-gradient(circle, rgba(78, 75, 75, 1) 0%, rgba(38, 38, 38, 1) 36%, rgba(22, 21, 21, 1) 100%);
}

#color_0 div {
  background: rgb(249, 249, 249);
  background: radial-gradient(circle, rgba(249, 249, 249, 1) 0%, rgba(255, 115, 115, 1) 36%, rgba(255, 0, 0, 1) 100%);
}

#color_1 div {
  background: rgb(249, 249, 249);
  background: radial-gradient(circle, rgba(249, 249, 249, 1) 0%, rgba(255, 192, 64, 1) 36%, rgba(255, 171, 0, 1) 100%);
}

#color_2 div {
  background: rgb(249, 249, 249);
  background: radial-gradient(circle, rgba(249, 249, 249, 1) 0%, rgba(255, 253, 115, 1) 36%, rgba(255, 252, 0, 1) 100%);
}

#color_3 div {
  background: rgb(249, 249, 249);
  background: radial-gradient(circle, rgba(249, 249, 249, 1) 0%, rgba(149, 238, 107, 1) 36%, rgba(72, 221, 0, 1) 100%);
}

#color_4 div {
  background: rgb(249, 249, 249);
  background: radial-gradient(circle, rgba(249, 249, 249, 1) 0%, rgba(163, 225, 255, 1) 36%, rgba(88, 200, 255, 1) 100%);
}

#color_5 div {
  background: rgb(249, 249, 249);
  background: radial-gradient(circle, rgba(249, 249, 249, 1) 0%, rgba(150, 181, 251, 1) 36%, rgba(33, 2, 227, 1) 100%);
}

#color_6 div {
  background: rgb(249, 249, 249);
  background: radial-gradient(circle, rgba(249, 249, 249, 1) 0%, rgba(191, 129, 226, 1) 36%, rgba(138, 36, 166, 1) 100%);
}

#color_6 div {
  background: rgb(249, 249, 249);
  background: radial-gradient(circle, rgba(249, 249, 249, 1) 0%, rgba(191, 129, 226, 1) 36%, rgba(138, 36, 166, 1) 100%);
}

#color_7 div {
  background: rgb(255, 255, 255);
  background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgb(236 236 239) 36%, rgb(223 221 221) 100%);
}

#color_8 div {
  background: rgb(78, 75, 75);
  background: radial-gradient(circle, rgba(78, 75, 75, 1) 0%, rgba(38, 38, 38, 1) 36%, rgba(22, 21, 21, 1) 100%);
}

audio {
  position: absolute;
}

.mobile {
  display: none;
}

@media only screen and (max-width: 1000px) {
  .mobile {
    display: block;
  }

  .desk {
    display: none;
  }
}